@charset "UTF-8";

/* Reset */

* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	-webkit-text-size-adjust: none;
	background-color: #DEE5E8;
	overflow: scroll;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	padding-top: 0px;
	padding-left: .9375rem;
	background: #000000;
	height: 6%;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	min-height: 40px;
}

/*NAV BUTTON STUFF
.nav-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	cursor: pointer;
	transition: all .4s ease-in-out;
}
.nav-btn-burger{
	width: 30px;
	height: 3px
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255,1010,47,.2);
	transition: all .4s ease-in-out;
}
.nav-btn-burger::before,
.nav-btn-burger::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255,1010,47,.2);
	transition: all .4s ease-in-out;
}

/*NAV BUTTON TRANSFORMATION
.nav-btn-burger::before {
	transform: translateY(-16px);
}
.nav-btn-burger::after {
	transform: translateY(16px);
}
.nav-btn.open .nav-btn-burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}
.nav-btn.open .nav-btn-burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.nav-btn.open .nav-btn-burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

/*NAV ITEMS*/
.main-nav {
	display: flex;
	float: left;
}
#logo {
	max-height: 40px;
	max-width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
}
.nav-menu-item {
	color: #E85E26;
	text-decoration: none;
	display: flex;
	padding-right: 1rem;
	position: relative;
}
.nav-menu-itme img {
	max-height: 100%;
	max-width: 100%;
}
.nav-menu-item:hover {
	color: #fff;
	transition: all .2s ease-in-out;
}

.overview {
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.overview-content {
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50%;
}
.overview-content::before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url('images/group.jpg');
	background-position: top center;
	opacity: 0.5;
}	
.overview-text {
	position: relative;
	padding: .3em;
	color: #000000;
	opacity: 100%;
	top: 45%;
}
#overview-h1 {
	position: relative;
	color: #000000;;
	top: 35%;
	padding-bottom: .25em
}

.banner {
	background-color: #35749B;
	height: 3%;

	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

#myBtnContainer {
	text-align: right;
	margin: .5rem;
}
/*	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

			#scrolling-menu {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 1280px) {

			#scrolling-menu {
				padding: 10em 2em 8em 2em;
			}

		}

		@media screen and (max-width: 980px) {

			#scrolling-menu {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			#scrolling-menu {
				padding: 8em 1.5em 6em 1.5em;
			}

				#scrolling-menu h1 {
					font-size: 2.5em;
				}

				#scrolling-menu p {
					font-size: .9em;
				}

		}

		@media screen and (max-width: 480px) {

			#scrolling-menu {
				padding: 6em 1.5em 4em 1.5em;
			}

		}*/

.topics {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 50%;
	text-align: center;
}
#members-section {
	color: #000000;
	background-image: url(images/collage.JPG);
	background-color: #fff;
	background-origin: content-box;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	opacity: 50%;
}
#members-section:hover {
	opacity: 100%;
	transition: all .2s ease-in-out;
}
#teams-section {
	color: #fff;
	background-image: url(images/tracks.png);
	background-color: #2a3749;
	background-origin: content-box;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	opacity: 50%;
}
#teams-section:hover {
	opacity: 100%;
	transition: all .2s ease-in-out;
}
#projects-section {
	color: #000000;
	background-image: url(images/wheel.png);
	background-color: #fff;
	background-origin: content-box;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	opacity: 50%;
}
#projects-section:hover {
	opacity: 100%;
	transition: all .2s ease-in-out;
}


/*Testomonials section*/

.testomonials {
	padding: .9375rem;
	background-color: #21B3CD;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.grid-container {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}
.quoteBlock__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-x {
    display: flex;
    flex-flow: row wrap;
}
.testemonial-block {
    text-align: center;
    margin: 0 auto 50px auto;
    max-width: 350px;
}
.testemonial-block-content {
    display: flex;
    align-items: center;
    min-height: 250px;
    justify-content: center;
    padding: 35px;
    margin-bottom: 32px;
    background-color: rgba(255,255,255,.6);
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(36,43,46,.31);
}


/*WORK FOR THE PROJECTS PAGE*/
.projects-container {
	margin-left: .9375rem;
	margin-right: .9375rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 50%;
	text-align: center;
}
.project {
	margin: .9375rem;
	color: #000000;
	background-color: #fff;
	background-origin: content-box;
	height: 250px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	opacity: 50%;
	text-decoration: none;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	border: .5px solid black;
}
.project:hover {
	opacity: 100%;
	transition: all .2s ease-in-out;
}
.project-image {
	height: 70%;
	background-color: #E85E26;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}
.project-image img {
	max-width: 100%;
	max-height: 100%;
}
.project-text {
	height: 30%;
	width: 100%;
	overflow: auto;
}
